.coe892-project,
.employee-management-system {
  margin: 0;
  color: black;
  padding-top: 15px;
  font-size: 35px;
}
.coe892-project-employee-container {
  margin: 0;
  width: 568px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.coe892-project-employee-manage-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 17px;
  box-sizing: border-box;
  max-width: 100%;
}
.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-style: solid; /* Set the border style to solid */
  border-color: black; /* Set the border color */
  border-width: 1px; /* Set the border width */
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
/* --> */
      /* --------------------------------------------------- */
      .dashboard-login-inner {
        width: 300px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      /* --> */
              .password,
              .username {
              width: 300px;
              height: 50px;
              align-self: stretch;
              }
      /* --------------------------------------------------- */
      .login-register{
          width: 300px;
          height: 100px;
          display: flex;
          flex-direction: column;
          gap: 10px;
      }
      /* --> */
              .login-button,
              .register-button {
                height: 50px;
              }
      /* --------------------------------------------------- */
      .design-members-master{
          width: 586px;
          height: 100px;
          justify-content: center;
          align-items: center;
      }
      /* --> */
              .design-members{
                  width: 300px;
                  font-size: 12px;
                  color: black;
              }

      /* --------------------------------------------------- */
.dashboard-login,
.desktop,
.login-register {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
}
.dashboard-login {
  width: 100%; /* Set width to 100% of the parent container */
  height: 100vh;
  flex: 1;
  background: url('../Assets/Images/landing.jpg') no-repeat center center fixed;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 161px var(--padding-xl) 61px;
  box-sizing: border-box;
  gap: 30px;
  text-align: center;
  font-size: 40px;
  color: var(--color-white);
  font-family: var(--font-lato);
}

.desktop {
    flex-direction: row; /* Align items horizontally */
    align-items: flex-start; /* Align items to the start of the cross axis */
    letter-spacing: normal;
    display: flex; /* Use Flexbox layout */
  }

