@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
body {
  /*margin: 0*/
  line-height: normal;
}
:root {
  /* fonts */
  --font-lato: Lato;

  /* Colors */
  --color-white: #fff;

  /* Gaps */
  --gap-xl: 20px;

  /* Paddings */
  --padding-xl: 20px;
}
